
/*------------------------------------------------------------------------------

Code Editor

------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------

BASE SETTING

------------------------------------------------------------------------------*/
* {
	margin:0;
	padding:0;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background:#f8f4f4;
}

#container {
	width: 100%;
}


/*------------------------------------------------------------------------------

HEADER SETTING

------------------------------------------------------------------------------*/
header {
	background-image: url("../../images/green02.jpg");
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	height:18%;
	width: 49%;
	padding-left: 1%;
}

a:hover{
    opacity: 0.6; 
    filter: alpha(opacity=60); 
    -moz-opacity: 0.6;
}

#box {
	width:300px;
	height:200px;
}

.clear {
	clear:both;
}

/*------------------------------------------------------------------------------

CONTENTS SETTING

------------------------------------------------------------------------------*/

#left {
	background:#f8f4f4;
	width: 50%;
	height: 80%;
	float: left;
	position: relative;
}

#hint-box {
	background-image: url("../../images/white01.jpg");
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	top: 80%;
	height: 20%;
	padding: 1% 1%;
}

.preview-container {
position: fixed;
z-index: 100;
left: 50%;
right: 0;
bottom: 0;
top: 0;
}

#preview-title {
	width: 48%;
	height:3%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: absolute;
	top:0;
	left: 50%;
	padding: 1% 1%;
	background: rgb(238, 237, 247);
}

#preview {
	width: 48%;
	height:47%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: absolute;
	top:7%;
	padding: 1% 1%;
	background: rgb(238, 237, 247);
}

#dst {
	width: 48%;
	height:47%;
	left: 50%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: absolute;
	top:7%;
	padding: 1% 1%;
	background: rgb(238, 237, 247);
}

#succesview {
	width:  48%;
	height: 36%;
	left: 50%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: absolute;
	background-image: url("../../images/pink01.jpg");
	top: 59%;
	padding: 1% 1%;
}

#clear {
	clear:both;
}


code2 {
	padding:5px;
}

iframe {
	float: left;
    border: 0px;
}
      
#title_lesson {
width: 590px;
padding: 5px;
font-size: 14px;
background: #222;
color: #777;
}

/*------------------------------------------------------------------------------
CSS SETTINGS END---////
------------------------------------------------------------------------------*/
