
/*------------------------------------------------------------------------------

index_design (共通用）

------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------

BASE SETTING

------------------------------------------------------------------------------*/
* {
	margin:0;
	padding:0;
}

html {
    width:  100%;
    height: 100%;
}

body {
    background-image: url("../../images/green02.jpg");
    width:  100%;
    height: 100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

div.park {
    margin:1em; padding:1em;
}

div.evalout {
    overflow-x: auto;
}

/*------------------------------------------------------------------------------

HEADER SETTING

------------------------------------------------------------------------------*/
#container {
    position: relative;
	width: 100%;
}

#header {	
	height:10%;
    width: 100%;
    font-size: 90%;
    padding-left: 2%;
    position: relative;
    display: inline-block;
}

#result {
    display: inline;
}

#durationTime {
    width: 150px;
    height: 25px;
    font-style: oblique;
    font-size: large;
    text-align: center;
}

.wide-btn{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #2f2b64;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e9dffc 0%, #cfc4ff 100%);
    background-image: linear-gradient(#e7e1ff 0%, #cfc2ff 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.wide-btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: -webkit-linear-gradient(#ebe7ff 0%, #ded5ff 100%);
    background-image: linear-gradient(#eae2fd 0%, #d5ccff 100%);
}

a:hover{
    opacity: 0.6; 
    filter: alpha(opacity=60); 
    -moz-opacity: 0.6;
}

#clear {
	clear:both;
}

/*------------------------------------------------------------------------------

CONTENTS SETTING LEFT

------------------------------------------------------------------------------*/
#left {
    float: left;
	width: 50%;
	height: 82%;
	position: relative;
}

#slide-main {
    margin-top: 1%;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 1%;
    position: relative;
}

#slide-main img {
    width: 100%;
    height: 100%;
}

.slider {
    margin: 10px auto;
    width: 100%;
    opacity: 0;
    transition: 3s;
}

#left-box {
    background: rgb(238, 237, 247);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    width: 91%;
    height: 320px;
    padding: 1% 1%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 4%;
    font-size: 100%;
    overflow: auto;
}

#left-box .literal-block {
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    color: #666;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

#left-box pre {
    font-size: large;
    margin: 0; 
    padding: 0;
}

.slick-initialized {
    opacity: 1;
}

.slider img {
    width: 100%;
    height: auto;
}

#slide-btn {
    text-align: right;
    position: relative;
}

#maru-image, #batsu-image, #one-image, #two-image, #three-image {
    position: absolute;
    top: -150px;
    right: -130px;
    display: none;
    z-index: 100;
}

#code-main {
    margin-left: 4%;
    margin-right: 2%;
}
#code-sub {
    text-align: right;
    padding: 2%;
}

/*------------------------------------------------------------------------------

CONTENTS SETTING RIGHT

------------------------------------------------------------------------------*/

#right {
    float: left;
    width:  48%;
    height: 82%;
    right: 0;
    bottom: 0;
	height: 82%;
	position: relative;
}

#preview-title {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: relative;
    padding: 1% 1%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    background: rgb(238, 237, 247);
    font-size: 80%;
}

#preview {
    width:  94%; 
    height: 320px;
    border: 0px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: relative;
    padding: 1% 1%;
    margin-right: 3%;
    margin-left: 2%;
    background: rgb(238, 237, 247);
    overflow: auto;
}

#success-title {
    height: 20px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: relative;
	background-image: url("../../images/pink01.jpg");
    padding: 1% 1%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 80%;
}

#successview {
	height: 160px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	position: relative;
	background-image: url("../../images/pink01.jpg");
    padding: 1% 1%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 80%;
    overflow: auto;
}

#successview pre {
    font-size: large;
}

#hint-box {
	background-image: url("../../images/green01.jpg");
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    height: 30%;
    padding: 1% 1%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 80%;
    overflow: auto;
}

#clear {
	clear:both;
}

code2 {
	padding:5px;
}

iframe {
	float: left;
    border: 0px;
}

.code-btn {
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.43);/*アイコン色*/
    width: 40px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
    border-radius: 25%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
    cursor: pointer;
}

.code-btn .fas {
    line-height: 40px;
}

.code-btn:hover {
    position: relative;
    top: 2px;
    left: 2px;
}

.code-btn:active {
    background-image: -webkit-linear-gradient(#4b4949 0%, #131212 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
    cursor: pointer;
}

/*------------------------------------------------------------------------------
CSS SETTINGS END---////
------------------------------------------------------------------------------*/
